apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ repository.name }}-{{ metadata.name }}
spec:
  entrypoint: steps
  templates:
    {% if workflow.inputs %}
    - name: download_artifacts
      container:
        image: "recesser/cli:0.1.0"
        command:
          - rcssr 
          - download
          {% for i in workflow.inputs %}
          - {{ i }}
          {% endfor %}
    {% endif %}
    - name: main
      inputs:
        artifacts:
          - name: source-code
            git:
              repo: {{ repository.url }}
              revision: HEAD
              sshPrivateKeySecret:
                name: {{ repository.ssh_key_fingerprint }}
                key: ssh-private-key
              depth: 0
      container:
        image: "recesser/{{ workflow.template.name }}-template:{{ workflow.template.version }}"
        args:
          - {{ workflow.dependencies }}
          - {{ workflow.entrypoint }}
    - name: steps
      steps:
        {% if workflow.inputs %}
        - - name: Download Artifacts Step
            template: download_artifacts
        {% endif %}
        - - name: Main Step
            template: main