apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ repository.name }}-{{ metadata.name }}
spec:
  entrypoint: steps
  templates:
    {% if workflow.inputs %}
    - name: download-artifacts
      container:
        image: "recesser/cli:0.1.0"
        command:
          - rcssr 
          - download
          {% for i in workflow.inputs %}
          - {{ i }}
          {% endfor %}
        outputs:
          artifacts:
            {% for i in workflow.inputs %}
            - name: {{ i }}
              from: {{ i }}
            {% endfor %}
    {% endif %}
    - name: main
      inputs:
        artifacts:
          - name: source-code
            path: /src
            git:
              repo: {{ repository.url }}
              revision: HEAD
              sshPrivateKeySecret:
                name: {{ repository.ssh_key_fingerprint }}
                key: ssh-private-key
              depth: 0
          {% if workflow.inputs %}
          {% for i in workflow.inputs %}
          - name: {{ i }}
            path: "/tmp/{{ i }}"
          {% endfor %}
          {% endif %}
      container:
        image: "recesser/{{ workflow.template.name }}-template:{{ workflow.template.version }}"
        args:
          - {{ workflow.dependencies }}
          - {{ workflow.entrypoint }}
          {% if workflow.inputs %}
          {% for i in workflow.inputs %}
          - "/tmp/{{ i }}"
          {% endfor %}
          {% endif %}
    - name: steps
      steps:
        {% if workflow.inputs %}
        - - name: download-artifacts-step
            template: download-artifacts
        {% endif %}
        - - name: main-step
            template: main
            {% if workflow.inputs %}
            arguments:
              artifacts:
              {% for i in workflow.inputs %}
              - name: {{ i }}
                from: "{{"{{"}}steps.download-artifacts-step.outputs.artifacts.{{i}}{{"}}"}}"
              {% endfor %}
            {% endif %}