apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ metadata.name }}-
spec:
  entrypoint: steps
  templates:
    {% if workflow.inputs %}
    - name: download-artifacts
      container:
        image: "recesser/rcssr"
        imagePullPolicy: IfNotPresent
        env:
        - name: RECESSER_TOKEN
          valueFrom:
            secretKeyRef:
              name: apiserver-token
              key: token
        - name: RECESSER_ADDR
          value: 'http://apiserver.recesser'
        command:
          - rcssr
          - artifact
          - download
          {% for i in workflow.inputs %}
          - {{ i }}
          {% endfor %}
      outputs:
        artifacts:
          {% for i in workflow.inputs %}
          - name: {{ i }}
            path: /usr/local/bin/{{ i }}
          {% endfor %}
    {% endif %}
    - name: main
      inputs:
        artifacts:
          - name: source-code
            path: /src
            git:
              repo: {{ repository.url }}
              revision: HEAD
              sshPrivateKeySecret:
                name: {{ repository.ssh_key_fingerprint }}
                key: ssh-privatekey
              depth: 0
          {% if workflow.inputs %}
          {% for i in workflow.inputs %}
          - name: {{ i }}
            path: "/tmp/{{ i }}"
          {% endfor %}
          {% endif %}
      container:
        image: "recesser/{{ workflow.template.name }}-template:{{ workflow.template.version }}"
        command:
          - bash
          - entrypoint.sh
          - {{ workflow.dependencies }}
          - {{ workflow.entrypoint }}
          {% if workflow.inputs %}
          {% for i in workflow.inputs %}
          - "/tmp/{{ i }}"
          {% endfor %}
          {% endif %}
    - name: steps
      steps:
        {% if workflow.inputs %}
        - - name: download-artifacts-step
            template: download-artifacts
        {% endif %}
        - - name: main-step
            template: main
            {% if workflow.inputs %}
            arguments:
              artifacts:
              {% for i in workflow.inputs %}
              - name: {{ i }}
                from: "{{"{{"}}steps.download-artifacts-step.outputs.artifacts.{{i}}{{"}}"}}"
              {% endfor %}
            {% endif %}